:root {
    --bs-primary: #1E513D;
    --bs-primary-rgb: 30, 81, 61;
}

body{
    background-color: #f0f0f0;
    font-family: 'Work Sans', sans-serif;
}

a,
a:visited {
    color: #1E513D;
}

a:hover,
a:focus,
a:active {
    color: #329B46;
}

.btn-primary {
    background-color: #1E513D;
    border-color: #1E513D;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #329B46;
    border-color: #329B46;
}

.btn-outline-primary {
    color: #1E513D;
    border-color: #1E513D;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #ffffff;
    background-color: #1E513D;
    border-color: #1E513D;
}

.container {
    padding-top: 20px;
}

#map {
    margin-top: 15px;
}

.card-body {
    padding: 5px;
}

.card{
    margin:2px;
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 70px;
    color: #3CBB54;}

h3{
    font-size: 30px;
}

#progbar {
    opacity: 1;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }

.invasive-count-badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 0.7em;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    background-color: #dc3545;
    border-radius: 0.375rem;
    vertical-align: baseline;
}